.likesCounter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 4px;
  margin-left: 4px;
}

.likesCounter .comments {
  margin-left: 10px;
}
.likesCounter .likes {
  cursor: pointer;
}