:root {
  --bg-color: #ffffff;
  --container-color: #ffffff;
  --border-color: #eeeeee;
  --border-color-hover: #929292;
  --user-selected-color: #ececec;
  --user-selected-color-hover: #ffffff;
  --color-indigo: indigo;
  --span-info-color: #b8b8b8;
  --span-info-error-color: #ff7676;

  padding: 10px;
}

body {
  background-color: var(--bg-color);
}

.container {
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: var(--container-color);
  margin-bottom: 40px;
}

.container .topBar {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  grid-gap: 10px;
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 14px;
  height: 0px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
  border: 1px solid #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #dbdbdb;
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}
::-webkit-scrollbar-thumb:hover {
  background: #cacaca;
}

@media (max-width: 720px) {

  .container .topBar {
    display: grid;
    grid-template-columns: 1fr;
  }

}

