.areaCurrentUser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 4px 4px 7px 0px rgb(0 0 0 / 12%);
  border: 1px solid var(--border-color);
  padding: 20px 0px;
}

.areaCurrentUser h3{
  margin: 0;
  margin-bottom: 10px;
}

.areaCurrentUser .currentUsers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.areaCurrentUser .currentUsers .user {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 24px;
  cursor: pointer;
  margin: 3px 3px;
  border-radius: 40px;
  transition: box-shadow 0.2s ease-out;
  border: 1px solid var(--border-color);
}

.areaCurrentUser .currentUsers .user:hover {
  background-color: var(--user-selected-color-hover);
  box-shadow: 4px 4px 7px 0px rgb(0 0 0 / 12%);
  border: 1px solid var(--border-color);
}

.areaCurrentUser .currentUsers .currentUser {
  box-shadow: 4px 4px 7px 0px rgb(0 0 0 / 12%);
}

.areaCurrentUser .currentUsers .user img {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-color: var(--color-indigo);
  box-shadow: 4px 4px 7px 0px rgb(0 0 0 / 12%);
  margin-right: 10px;
}

@media (max-width: 500px) {

  .areaCurrentUser .currentUsers {
    flex-direction: column;
  }
  
}